elevenlabs>=2.34.0
gradio_client>=2.0.3
gTTS>=2.5.4
keyboard>=0.13.5
mss>=10.1.0
obs_websocket_py>=1.0
openrouter>=0.1.1
psutil>=7.2.1
psutil>=7.0.0
pygame>=2.6.1
PyQt5>=5.15.11
pyqt5_sip>=12.17.2
python-dotenv>=1.2.1
pywin32>=311
Requests>=2.32.5
torch>=2.5.1
transformers>=4.35.2
tts>=0.22.0
ttsfm>=3.4.2
